/* Base Application Styles */
body {
  color: #9e9e9e;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.hero-div {
  height: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  background-image: url("../images/0039-new.jpg");
  background-position:top;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: #00bcd4;
}

.group-posting {
  padding-top: 2.5em;
  padding-bottom: 5em;
}

.post-title-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1.5em;
}

.post-title {
  margin-right: .5em;
}

.post-time {
  float: right;
}
