/* Base Application Styles */
body {
  color: #9e9e9e;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}



.group-posting-toolbar{
  display: flex;
  flex-direction: row;
  background-color: rgb(232, 232, 232);
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.group-posting-toolbar-right{
  display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.group-posting-toolbar-left{
  display: flex;
  flex: 5.5;
  flex-direction: row;
  justify-content: flex-star;
  align-items: center;
  width: 100%;
}


.group-posting {
  padding-top: 2.5em;
  padding-bottom: 5em;
}

.group-post {
  margin-bottom: 1em;
}

.group-post-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.group-post-row-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.group-post-row-master {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.group-post-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
}

.group-post-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-post-column-meta{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.group-post-title {
  font-size: 1em;
  background-color: cyan;
  padding: 0 0.2em 0 0.2em;
  border-radius: .2em;
}

.group-post-have-wf {
  background-color: #C8E6C9;
  border-radius: 3em;
  padding: .5em;
}

.group-post-all-wf {
  background-color: #DEDEDE;
  border-radius: 3.0em;
  padding-right: .5em;
}

.group-post-all-wf-wrapper {
  flex-grow: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

.warframe-img {
  color: white;
  background-color: white
}

.step-content {
  padding: 24px;
}
