/* Base Application Styles */
body {
  color: #9e9e9e;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
