.row {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.colHalf {
  display: flex;
  flex-direction: column;
  width: 40%;
}
