.wfWrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.wfAll{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 3.0em;
  padding-right: .5em;
}

.wfHave{
  background-color: #C8E6C9;
  border-radius: 3em;
  padding: .5em;
  flex-direction: row;
  display: flex;
}

.add{
  position: absolute;
  top: 18.5em;
  margin-left: -2em;
  overflow: visible;
  z-index: 999;
}

.avatar {
  display: flex;
  flex-direction: row;
}

.label {
  color: #9e9e9e;
  margin-bottom: .2em;
}

.popOver{
  height: 15em;
  overflow-x: visible;
  width: auto;
}

.haveWarframeImage {
  background-color: #EDEDED;
  height: 4.5em;
  width: 4.5em;
  border-radius: 5em;
  border: 2.5px solid #4CAF50;
  margin-right: .2em;
}

.needWarframeImage {
  background-color: #EDEDED;
  height: 4.5em;
  width: 4.5em;
  border-radius: 5em;
  border: 2.5px dotted grey;
  opacity: .6;
  margin-right: .2em;
}
